<div local-class="Container">
    {{#registries-sidenav as |nav|}}
        {{nav.link 'home' 'OVERVIEW' active=true}}
        {{nav.link 'file-text' 'FILES'}}
        {{nav.link 'window-maximize' 'WIKI'}}
        {{nav.link 'puzzle-piece' 'COMPONENTS'}}
        {{nav.link 'link' 'LINKS'}}
        {{nav.link 'bar-chart' 'ANALYTICS'}}
        {{nav.link 'comments' 'COMMENTS'}}

        {{nav.toggler}}

        {{#nav.content}}
            I'm Content!

        {{/nav.content}}

    {{/registries-sidenav}}

    <div>
        Page Content Place Holder
    </div>
</div>
