<nav local-class="Nav">
    <div local-class="Section">
        <a onclick={{this.toggleSidenav}} role="button">
            {{fa-icon 'bars' fixedWidth=true}}
        </a>

        <h4>Overview</h4>
    </div>

    <div local-class="Section">
        Public
        {{fa-icon 'eye' fixedWidth=true}}

        <div local-class="Divider"></div>

        <a onclick={{this.toggleMetadata}} role="button">
            {{fa-icon 'info-circle' fixedWidth=true}}
        </a>

        <div local-class="Divider"></div>

        <a role="button">
            {{fa-icon 'ellipsis-v' fixedWidth=true}}
        </a>
    </div>
</nav>
