{{#nav-bar dark=true as |nav|}}
    {{!-- Right Side (Band, Service Dropdown) --}}
    {{#nav.section}}

        {{#global-link-to 'home' (html-attributes aria-label=(t 'navbar.go_home'))}}
            <div local-class="Logo"></div>
        {{/global-link-to}}

        {{#bs-dropdown as |dd|}}
            {{#dd.toggle classNames=(local-class 'Service1 Dropdown')}}
                <span local-class="HideOnMobile">{{t 'general.OSF'}}</span>
                <strong>Registries</strong>
                {{nav.icon (if dd.isOpen 'caret-up' 'caret-down')}}
            {{/dd.toggle}}

            {{#dd.menu classNames=(local-class 'ServiceList') as |ddm|}}
                {{#each services as |service|}}
                    {{#ddm.item (html-attributes role='menuitem')}}
                        {{#hyper-link service.route}}
                            <strong local-class="Service">{{service.name}}</strong>
                        {{/hyper-link}}
                    {{/ddm.item}}
                {{/each}}
            {{/dd.menu}}
        {{/bs-dropdown}}

    {{/nav.section}}

    {{!-- Left Side (Search, Buttons, Gravatar, Dropdown) --}}
    {{#nav.section}}

        {{#nav.button classNames=(local-class 'OnlyOnMobile') onclick=(action 'toggleMobileSearch')}}
            {{nav.icon 'search'}}
        {{/nav.button}}

        {{#nav.item classNames=(local-class 'HideOnMobile SearchBar')}}
            {{icon-input 'search' dark=true enter=(action '_onSearch')}}
        {{/nav.item}}

        {{#nav.link classNames=(local-class 'HideOnMobile') href=this.helpRoute}}
            <h4>{{t 'general.help'}}</h4>
        {{/nav.link}}

        {{#nav.link classNames=(local-class 'HideOnMobile') href=this.donateRoute}}
            <h4>{{t 'navbar.donate'}}</h4>
        {{/nav.link}}

        {{nav.divider classNames=(local-class 'HideOnMobile')}}

        {{#nav.item}}
            {{#bs-dropdown as |dd|}}
                {{#dd.toggle classNames=(local-class 'Dropdown')}}
                    <img alt="User gravatar" local-class="Gravatar1" src="{{currentUser.user.profileImage}}&s=30">
                    {{nav.icon (if dd.isOpen 'caret-up' 'caret-down')}}
                {{/dd.toggle}}

                {{#dd.menu as |ddm|}}
                    {{#ddm.item}}
                        Test Data
                    {{/ddm.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
        {{/nav.item}}

        {{!-- {{#nav.button href=this.donateRoute}} --}}
        {{!--     <h4>Join</h4> --}}
        {{!-- {{/nav.button}} --}}

        {{!-- {{#nav.button href=this.donateRoute}} --}}
        {{!--     <h4>Login</h4> --}}
        {{!-- {{/nav.button}} --}}

    {{/nav.section}}

{{/nav-bar}}

{{#if (and this.showMobileSearchBox (media 'isMobile'))}}
    {{icon-input 'search' class=(local-class 'MobileSearchBar') dark=true enter=(action '_onSearch')}}
{{/if}}
